<div class="card">
  <h5 class="card-title">{{dinosauriosDetail.name}}</h5>
  <img class="card-img-top" src={{dinosauriosDetail.image}} alt="Imagen del dinosaurio">
  <div class="card-body">
    <dt>Nombre 100tifiko</dt>
    <h5 class="card-title">{{dinosauriosDetail.scientificName}}</h5>
    <dt>Alimentacion</dt>
    <p class="card-text">{{dinosauriosDetail.feeding}}</p>
    <dt>Era</dt>
    <p class="card-text">{{dinosauriosDetail.era}}</p>
    <dt>Pais de descubrimiento</dt>
    <p class="card-text">{{dinosauriosDetail.discoveryCountry}}</p>
    <dt>Descripcion</dt>
    <p class="card-text">{{dinosauriosDetail.description}}</p>
  </div>
</div>
